.sidebar{
    display: flex;
    flex-direction: column;
    color: var(--light-gray-color);
    height: 100%;

    &__row{
        display: flex;
       width: 100%;
       align-items: center;
    }
    &__row--selected{
        background-image: white;
    }
    &__row p{
        width: 100%;
        align-items: start;
    }
    &__col{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        p{
            margin: 0;
        }
    }
    &__img{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding: 4px;
        border: 2px solid var(--light-gray-color);
    }


    &__title{
        margin-left: 1rem;
    }
}