<div class="user-info-box">
    <h1>Top Drivers
    
    <app-icon
        name="icon-arrow-left"
        width="20px"
        height="20px"
        color="var(--dark-color)"
      ></app-icon>
      
    </h1>
    <div class="user-card">
      <img src="https://i.pravatar.cc/301" alt="Descripción de la imagen">
      <div class="user-info">
        <h2>Maharrm Hassail</h2>
        <p>+593 0987654321</p>
      </div>
    </div>
    <div class="user-card">
      <img src="https://i.pravatar.cc/302" alt="Descripción de la imagen">
      <div class="user-info">
        <h2>Gina Garza</h2>
        <p>+593 0987654321</p>
      </div>
    </div>
    <div class="user-card">
      <img src="https://i.pravatar.cc/303" alt="Descripción de la imagen">
      <div class="user-info">
        <h2>Brian Reed</h2>
        <p>+593 0987654321</p>
      </div>
      <div class="user-card">
        <img src="https://i.pravatar.cc/304" alt="Descripción de la imagen">
        <div class="user-info">
          <h2>Tammy Spencer</h2>
          <p>+593 0987654321</p>
        </div>
        <div class="user-card">
          <img src="https://i.pravatar.cc/305" alt="Descripción de la imagen">
          <div class="user-info">
            <h2>Joseph Brooks</h2>
            <p>+593 0987654321</p>
          </div>
          <div class="user-card">
            <img src="https://i.pravatar.cc/306" alt="Descripción de la imagen">
            <div class="user-info">
              <h2>Juan Steward</h2>
              <p>+593 0987654321</p>
            </div>
          </div>
        </div>